<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <version>1</version>
            <excludeMdcKeyName>cmt</excludeMdcKeyName>
            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">
                <timestamp>@t</timestamp>
                <version>@v</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
            <includeCallerData>true</includeCallerData>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>15</maxDepthPerThrowable>
            </throwableConverter>
        </encoder>
    </appender>

    <logger name="org.example" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
